<!-- --------------------------------------------------------- START ------------------------------------------------------------------------------->

<main class="is-dark">
  <header>
    <div class="wordmark">
      <img width="40" alt="Angular Logo" src="assets/img/pig.svg" />
      <h1>Beautifier</h1>
    </div>
    <nav class="nav-items">
      <button *ngFor="let option of langOptions"
        [ngClass]="{'el-button--primary': selectedLanguageType == option.name.toString().toLowerCase(), 'el-button--info': selectedLanguageType != option.name.toString().toLowerCase()}"
        id="{{option.name}}" class="el-button is-round" (click)="selectOption(option)">
        <span>{{option.name}}</span>
      </button>
      <button class="el-button el-button--info is-round" (click)="openModal(template)">
        <span>About</span>
      </button>
    </nav>
  </header>
  <div class="editor is-dark">
    <div class="editor-wrap">
      <ngx-codemirror class="editor-wrap" [(ngModel)]="code" [autoFocus]="true" [options]="codeOptions">
      </ngx-codemirror>
    </div>
  </div>
  <footer>
    <div class="credits">
      <h5 style="color: rgb(0, 0, 0);"><span
          style="font-family: 'Andika New Basic', sans-serif; font-size: 16px; color : #b8bab0">Made with <i
            class="fa fa-heart" style="color: red;" aria-hidden="true"></i> at Home</span></h5>
    </div>
    <div class="clean">
      <button type="button" (click)="clear()" class="el-button el-button--info"><span>
          Clear
        </span></button>
      <button type="button" (click)="beautify()" class="el-button el-tooltip clean-button el-button--primary"
        tabindex="0"><span>Beautify +
          Copy</span></button>
    </div>
  </footer>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">About</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>This free tool was built by <a href="https://www.linkedin.com/in/murali-krishna-0496/" target="_blank">Murali
          Krishna</a>,
        to avoid Ads in online free tools, privacy to the data pasted online and last but not least, for personal
        satisfaction 😎.
        The UI-Layout of this website is a pure "Inspiration" 😉 from <a href="https://twitter.com/claviska">Cory
          LaViska</a>.</p>

      <p>This tool is purely for personal use and no claims are made to the accuracy, performance, or uptime of this
        tool. Use at your own
        risk.</p>

      <p>Feel free to share suggestions and feature requests. Thank you! 😇 </p>

      <p>Made at home using Angular, CodeMirror, Js-Beautify, vkBeautify in VS Code.</p>

    </div>
  </ng-template>
</main>

<!------------------------------------------------------------ END ------------------------------------------------------------------------------->


<router-outlet></router-outlet>